.favorites-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  padding-top: 5rem;
  color: #D90429;
  padding-left: 8rem;
  padding-bottom: 3rem;
}

.favorite-container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #131316;
}

/**************************/
/* BELOW 1000px (Landscape Tablets) */
/**************************/
@media (max-width: 63em) {
  .favorite-container {
    max-width: 80%;
    margin: 0 auto;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {


}

/**************************/
/* BELOW 414px (iphone 8Plus) */
/**************************/
@media (max-width: 26em) {

}