.header-component {
  background-color: #D90429;
  height: 9.6rem;
}

.header-container {
  max-width: 120rem;
  margin: 0 auto;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.link-container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header-link {
  display: inline-block;
  text-decoration: none;
  color: #EDF2F4;
  font-weight: 400;
  font-size: 1.8rem;
}

.header-link:link,
.header-link:visited {
  display: inline-block;
  text-decoration: none;

  transition: all 0.3s;
}

.header-link:hover,
.header-link:active {
  color: #131316;
}

.logo-header {
  height: 9.6rem;
  padding-right: 1rem;
}

.logo-box-header {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-name {
  color: #131316;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3.6rem;
}